    <div id="ThirdTab" class="row w3-animate-bottom">
        <div class="container">
            <!-- /.col-lg-3 -->
            <div style="margin: 0 auto" class="col-lg-9">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="" >
                    <div class="card-body">
                        <h3 style="text-align: center;" class="card-title">Strasbourg Crew</h3>
                        <h4></h4>
                        <p style="text-align: center;" class="card-text">
                            <a href="https://github.com/zOmegad" target="_blank">@zOmegad</a><br>
                            <a href="https://github.com/PirateCool" target="_blank">@PirateCool</a><br>
                            <a href="https://github.com/mxrch" target="_blank">@mxrch</a><br>
                            <a href="https://github.com/OwwllMan" target="_blank">@OwwllMan</a><br>
                            <a href="https://github.com/Runefire32" target="_blank">@runefire32</a><br>
                        </p>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
    </div>